<h1>Edit your details</h1>

<% form_for @user do |f| %>
	<%= f.error_messages %>
	<p>
	<%= f.label :username, 'Username:' %>
	<%= @user.username %>
	</p>
	<p>
	<%= f.label :realname, 'Real name:' %>
	<%= f.text_field :realname, :size => 15 %><br />
	</p>
	<p>
	<%= f.label :studentnumber, 'Studentnumber:' %>
	<%= f.text_field :studentnumber, :size => 15 %>&nbsp;<span id="hint">(9 characters)</span><br />
	</p>
	<p>
	<%= f.label :password, 'New password:' %>
	<%= f.password_field :password, :size => 15 %>&nbsp;<span id="hint">(At least 8 characters)</span><br />
	</p>
	<p>
	<%= f.label :password_confirmation, 'Repeat password:' %>
	<%= f.password_field :password_confirmation, :size => 15 %><br />
	</p>
  <%= f.submit 'Update' %>
<% end %>

<%= link_to 'Home', root_url %> | <%= link_to 'Remove account', user_url, :method => :delete, :confirm => 'Are you sure you want to delete your account?' %>