<h1>Edit your details</h1>

<% form_for @user do |f| %>
	<%= f.error_messages %>
	<p>
	<%= f.label :username, 'Username:' %>
	<%= @user.username %>
	</p>
	<p>
	<%= f.label :realname, 'Real name:' %>
	<%= f.text_field :realname, :size => 15 %><br />
	</p>
	<p>
	<%= f.label :studentnumber, 'Studentnumber:' %>
	<%= f.text_field :studentnumber, :size => 15 %>&nbsp;<span id="hint">(9 characters)</span><br />
	</p>
	<p>
	<%= f.label :password, 'New password:' %>
	<%= f.password_field :password, :size => 15 %>&nbsp;<span id="hint">(At least 8 characters)</span><br />
	</p>
	<p>
	<%= f.label :password_confirmation, 'Repeat password:' %>
	<%= f.password_field :password_confirmation, :size => 15 %><br />
	</p>
  <%= f.submit 'Update' %>
<% end %>

<h2>Profile image</h2>
 
<!-- not resizing the image because it depends on ImageMagick or similar server-side library! If it's available, then
paperclip can make use of it when configured so -->
<%= image_tag @user.avatar.url, :width=>"48" %>
 
<h3>Upload a new profile image</h3>
 
<% form_for @user, :url => user_path, :html => { :multipart => true } do |f| %>
   <%= f.file_field :avatar %>
<%= f.submit "Upload" %>
<% end %>

<h3 id="registered_courses">Courses you are registered to:</h3>
<% if @registered_groups.any? %>
	<ul>
		<% @registered_groups.each do |rg| %>
			<li><%= link_to "#{rg.course_instance.course.title} - #{rg.course_instance.season} #{rg.course_instance.start.year} - #{rg.weekday} #{rg.start}-#{rg.end}", exercise_group_url(rg) %> - <%= link_to 'Cancel registration', registration_url(rg.registrations.find_by_user_id(current_user), :user_id => @user, :group_id => rg), :method => :delete %></li>
		<% end %>
	</ul>
<% else %>
	<p> No registrations! </p>
<% end%>
<%= link_to 'Home', root_url %> | <%= link_to 'Remove account', user_url, :method => :delete, :confirm => 'Are you sure you want to delete your account?' %>