<h2 id="register">Register</h2>

<% form_for @user, :url => { :action => :create } do |f| %>
	<%= f.error_messages %>
	<p>
	<%= f.label :username, 'Username:' %>
	<%= f.text_field :username, :size => 15 %>&nbsp;<span id="hint">(At least 4 characters)</span>
	</p>
	<p>
	<%= f.label :password, 'Password:' %>
	<%= f.password_field :password, :size => 15 %>&nbsp;<span id="hint">(At least 8 characters)</span>
	</p>
	<p>
	<%= f.label :password_confirmation, 'Repeat Password:' %>
	<%= f.password_field :password_confirmation, :size => 15 %>
	</p>
	<%= f.submit 'Register' %>
<% end %>

<%= link_to 'Back', login_url %>