
<h2 id="new_instance">New Exercise group - <%= @course_instance.course.title %> - <%= @course_instance.season %> <%= @course_instance.start.year %></h2>

<% form_for [@course_instance, @exercise_group] do |f| %>
	<%= f.error_messages %>

<p>
	<%= f.label :weekday, 'Weekday: '%>
	<%= f.select(:weekday, @weekdays )%>
</p>
<p>
	<%= f.label :start, 'Beginning time: ' %>
	<%= f.text_field :start, :size => 10 %>
	<%= f.label :end, 'Ending time: ' %>
	<%= f.text_field :end, :size => 10 %>
</p>
<p>
	<%= f.label :place, 'Class: '%>
	<%= f.text_field :place, :size => 12 %>
</p>

	<%= f.submit 'Create' %>
<% end %>

<%= link_to 'Back', course_instance_url( @course_instance )%>