
<h2 id="instance_title"><%= @ci.course.title %> - <%= "#{@ci.season} #{@ci.start.year}"%></h2>

<p id="instDescr">
	<%= @ci.description %>
</p>

<%= link_to 'Back', @ci.course %> | <%= link_to 'New Exercise group', new_course_instance_group_url(@ci.course_id, @ci.id) %>
