
<br />
<fieldset>
	<legend>
		<strong><%=h @course_instances.course.title %> - <%=h "#{@course_instances.season} #{@course_instances.start.year}"%></strong>
	</legend>

	<p id="description">
		<%=h @course_instances.description %>
	</p>
</fieldset>

<h3>Exercise groups:</h3>
<p id="groups">
	<% if @course_instances.exercise_groups.any? %>
	<ol>
		<% @course_instances.exercise_groups.each do |eg| %>
   	<li><%= link_to "#{eg.weekday} #{eg.start}-#{eg.end} #{eg.place}", eg %></li>
		<% end %>
	</ol>
	<% else %>
		No exercise groups.
	<% end %>
</p>

<%= link_to 'Back', @course_instances.course %> | <%= link_to 'New Exercise group', new_course_instance_exercise_group_url(@course_instances) %>
