
<br />
<fieldset>
	<legend>
		<strong><%=h @course_instance.course.title %> - <%=h "#{@course_instance.season} #{@course_instance.start.year}"%></strong>
	</legend>

	<p id="description">
		<%=h @course_instance.description %>
	</p>
</fieldset>

<h3>Exercise groups:</h3>
<p id="groups">
	<% if @course_instance.exercise_groups.any? %>
	<ol>
		<% @course_instance.exercise_groups.each do |eg| %>
   	<li><%= link_to "#{eg.weekday} #{eg.start}-#{eg.end} #{eg.place}", eg %></li>
		<% end %>
	</ol>
	<% else %>
		No exercise groups.
	<% end %>
</p>
<div id="feedback">
	<h4>Course feedback:</h4>
	<ul>
		<%= render :partial => 'feedbacks/items', :collection => Feedback.course(@course_instance.id) %>
	</ul7>
</div>

<%= link_to 'Back', @course_instance.course %> | <%= link_to 'New Exercise group', new_course_instance_exercise_group_url(@course_instance) %> | <%= link_to 'Give feedback', new_feedback_url(@course_instance) %>
