
<h2>Courses available</h2>
<p><%= link_to "All courses as PDF", courses_url(:format => :pdf) %></p>

<div id="courses">
	<% Category.all.each do |cat| %>
		<%= content_tag :h3, cat.name %>
		<% if cat.courses.any? %>
			<%= tag :ul, {:id => cat.name.downcase.split(' ')[0]+'CourseListing' } %>
			<% cat.courses.each do |course| -%>
				<li><%= link_to (h course.title), course %></li>
			<% end %>
			</ul>
		<% else %>
			<p>No courses under this category</p>
		<% end %>
	<% end %>
</div>
	
<div id="chart">
	<%= @swf.insert_chart(:data_source => url_for(:controller => "/chart"), :width => "500", :height => "300") %> 
</div>
