
<br />
<fieldset>
	<legend>
		<strong><%=h @course.title %></strong>
	</legend>

	<p id="description">
		<%=h @course.description %>
	</p>
</fieldset>

<h3>Course instances:</h3>
<p id="instances">
	<% if @course.course_instances.any? %>
	<ul>
		<% @course_instances.each do |inst| %>
   	<li><%= link_to "#{inst.season} #{inst.start.year}", inst %></li>
		<% end %>
	</ul>
	<% else %>
		No course instances.
	<% end %>
</p>
<p>
	<strong>Credits: </strong><%= @course.credits %>
</p>

<%-# link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', root_url %> |
<%= link_to 'New course instance', new_course_course_instance_url(@course) %>