<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Courses: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'ilmo2' %>
	<%= javascript_include_tag 'jquery-1.3.2.min.js' %>
</head>
<body>
	<div id="whole">
				
		<h1 id="title"><%= link_to 'Ilmo 2.0', root_url%></h1>
		
		
		<div id="newsfeed" style="float:right">
	   	<h2>Newsfeed</h2>
			<ul>
	   		<%= render :partial => "newsfeed/items", :collection => Newsfeed.recent %>
			</ul>
	 	</div>
		<div id="news" style="float:right; margin-right: 10em;">
			<h2>Administrative News:</h2>
				<%= render :partial => 'news/items', :collection => News.recent %>
		</div>
		
		<% if flash[:notice] -%>
			<div id="notice">
				<%= flash[:notice] %>
			</div>
		<% end -%>
	
		<% if flash[:msg] -%>
			<div id="message">
				<%= flash[:msg] %>
			</div>
		<% end -%>
	
		<div id="logged_status">
			<%=t :welcome %>, 
			<% if logged_in? %>
				<%= link_to current_user.username, edit_user_url(current_user) %>. (<%= link_to "logout", logout_url %>)
			<% else %>
				<%=t :guest %> (<%= link_to 'Login', login_url %>)
			<% end %>
		</div>

		<%= yield %>
	
	</div>
	<div id="timeCreated">
		Page created: <%= created_time  %>
	</div>
</body>
</html>
